parameters:
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    level: 6
    excludePaths:
        - tests/bootstrap.php
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
